:root {
    --background-color: #0b0033;
    --primary-text-color: #ffffff;
    --secondary-text-color: #9f86ff;
    --link-color: #46c2cb;
    --hover-link-color: #7DE2E9;
    --project-background: #360568;
    --roject-border: #FF6F91;
    --accent-color: #FFC857;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--primary-text-color);
    font-size: 30px;
    font-weight: 900;
}

nav .right a {
    color: var(--primary-text-color);
    font-size: 20px;
    margin: 0 10px;
}

nav .right a:last-of-type {
    color: var(--background-color);
    background-color: var(--primary-text-color);
    padding: 5px 10px;
    border-radius: 5px;  
}

/* MAIN */
/* about */

#about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
}

#about-section .text {
    flex: 5;
}

#about-section .text h2 {
    font-size: 45px;
}

#about-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

#about-section .headshot img {
    width: 550px;
    height: 450px;
    border-radius: 55%;
}

#about-section .text .links {
    margin-top: 25px;
}

#about-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

#about-section .text .links a:hover {
    color: var(--primary-text-color);
    border: 2px solid var(--primary-text-color);
}

.text {
    color: var(--primary-text-color);
}

/* SKILLS */
#skills {
    padding: 0 50px;
    margin-bottom: 100px;
    color: var(--primary-text-color);
}

#skills h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

#skills .text {
    text-align: center;
    margin-bottom: 30px;
    color: var(--secondary-text-color);
}

#skills .skill-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

#skills .skill-links span {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 10px 20px;
    gap: 10px;

    font-size: 18px;

    margin: 10px;
    border: 1.5px solid var(--primary-text-color);
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width: 850px) {
    /* ABOUT */
    #about-section .text h2 {
        font-size: 35px;
    }


}

@media(max-width: 740px) {
    #about-section {
        flex-direction: column-reverse;
    }
}

@media (max-width: 600px) {
    nav {
        padding: 0 22px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        color: var(--secondary-text-color);
        background-color: transparent;
        padding: 0;
    }

    /* ABOUT */

    #about-section {
        padding: 0 20px;
    }

    #about-section .text h2 {
        font-size: 30px;
    }

}